/*
 * playlist.css
 *
 * Styles related to the playlist
 *
 */

/* These settings are for the element's position on the page, not the actual element itself */
section#playlist{
  margin-left: 115px;
}

/* Settings for the element */
section#playlist{
  display: block;
  width: 550px;
  min-height: 450px;
  height: auto;
  /*padding: 0.5em 0.5em 1px 0.5em;*/
  background-color: #FAFAFA;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
  color: #555;
  float: left;
}
section#playlist > ol{
  padding: 0px;
}
section#playlist > ol > li.song{
  list-style: none;
  font-size: 12px;
}
section#playlist > ol > li:nth-child(odd) {
  background-color: #e6e6e5;
}
section#playlist ol li.song.dodge-top{
  margin-top: 25px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
section#playlist ol li.song.dodge-bottom{
  margin-bottom: 25px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
section#playlist ol li.song span{
  margin-left: 5px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section#playlist ol li.song span.song-name{
  width: 25%;
}
section#playlist ol li.song span.song-album{
  width: 30%;
}
section#playlist ol li.song span.song-artist{
  width: 25%;
}
[data-blankslate]:empty:after{
  content: attr(data-blankslate);
}
